[submodule "submodules/nyx-kb"]
	path = submodules/nyx-kb
	url = https://github.com/tadfisher/nyx-kb
[submodule "submodules/submodules/redox-keyboard"]
	path = submodules/redox-keyboard
	url = https://github.com/mattdibi/redox-keyboard
[submodule "submodules/keyswitches.pretty"]
	path = mykeeb/submodules/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
[submodule "submodules/MX_Alps_Hybrid"]
	path = mykeeb/submodules/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "submodules/keyswitch-kicad-library"]
	path = mykeeb/submodules/keyswitch-kicad-library
	url = https://github.com/perigoso/keyswitch-kicad-library
[submodule "submodules/Hybrid-Switches.pretty"]
	path = mykeeb/submodules/Hybrid-Switches.pretty
	url = https://github.com/keebio/Hybrid-Switches.pretty
[submodule "submodules/keebio-components"]
	path = mykeeb/submodules/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "submodules/Keebio-Parts.pretty"]
	path = mykeeb/submodules/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "submodules/KiBot-CICD-Template"]
	path = mykeeb/submodules/KiBot-CICD-Template
	url = https://github.com/nerdyscout/KiBot-CICD-Template
[submodule "submodules/yaemk-split-kb"]
	path = submodules/yaemk-split-kb
	url = https://github.com/KarlK90/yaemk-split-kb
[submodule "submodules/keebs.pretty"]
	path = mykeeb/submodules/keebs.pretty
	url = https://github.com/egladman/keebs.pretty
[submodule "submodules/keyboard_parts.pretty"]
	path = mykeeb/submodules/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "submodules/kicad_lib_tmk"]
	path = mykeeb/submodules/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "submodules/keyboard-pcb-guide"]
	path = submodules/keyboard-pcb-guide
	url = https://github.com/ruiqimao/keyboard-pcb-guide
[submodule "submodules/ErgoTravel"]
	path = submodules/ErgoTravel
	url = https://github.com/jpconstantineau/ErgoTravel
[submodule "submodules/ErgoDash"]
	path = submodules/ErgoDash
	url = https://github.com/omkbd/ErgoDash
[submodule "submodules/horizon-kb"]
	path = submodules/horizon-kb
	url = https://github.com/tadfisher/horizon-kb
[submodule "submodules/avalanche"]
	path = submodules/avalanche
	url = https://github.com/vlkv/avalanche
[submodule "submodules/reviung"]
	path = submodules/reviung
	url = https://github.com/gtips/reviung
[submodule "submodules/qmk_firmware"]
	path = submodules/qmk_firmware
	url = https://github.com/qmk/qmk_firmware
[submodule "submodules/KeyV2"]
	path = submodules/KeyV2
	url = https://github.com/rsheldiii/KeyV2
[submodule "submodules/keyboard_lplib"]
	path = mykeeb/submodules/keyboard_lplib
	url = https://git.tuxfamily.org/zephirum/keyboard_lplib.git/
[submodule "submodules/zmk"]
	path = submodules/zmk
	url = https://github.com/zmkfirmware/zmk
[submodule "submodules/tented-kyria-case"]
	path = submodules/tented-kyria-case
	url = https://github.com/brokenloop/tented-kyria-case
[submodule "submodules/kyria_3d_cases"]
	path = submodules/kyria_3d_cases
	url = https://github.com/jhelvy/kyria_3d_cases
[submodule "submodules/Kyria_Case"]
	path = submodules/Kyria_Case
	url = https://github.com/aaarsene/Kyria_Case
[submodule "submodules/kyria"]
	path = submodules/kyria
	url = https://github.com/splitkb/kyria
[submodule "submodules/Redox-neodox-Case"]
	path = submodules/Redox-neodox-Case
	url = https://github.com/Pastitas/Redox-neodox-Case
[submodule "mykeeb/pcb/submodules/ProMicroKiCad"]
	path = mykeeb/submodules/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad
[submodule "mykeeb/pcb/submodules/nice-nano-kicad"]
	path = mykeeb/submodules/nice-nano-kicad
	url = https://github.com/bstiq/nice-nano-kicad
[submodule "submodules/crkbd"]
	path = submodules/crkbd
	url = https://github.com/foostan/crkbd
[submodule "submodules/hillside"]
	path = submodules/hillside
	url = https://github.com/mmccoyd/hillside
[submodule "mykeeb/submodules/Panelization.pretty"]
	path = mykeeb/submodules/Panelization.pretty
	url = https://github.com/madworm/Panelization.pretty
[submodule "submodules/mitosis-hardware"]
	path = submodules/mitosis-hardware
	url = https://github.com/reversebias/mitosis-hardware
[submodule "submodules/jiran-ble-lite"]
	path = submodules/jiran-ble-lite
	url = https://github.com/Ladniy/jiran-ble-lite
[submodule "submodules/dao-choc-ble"]
	path = submodules/dao-choc-ble
	url = https://github.com/yumagulovrn/dao-choc-ble
[submodule "submodules/non-split/cyber60"]
	path = submodules/cyber60
	url = https://github.com/4pplet/cyber60
[submodule "Adafruit_nRF52_Bootloader"]
	path = Adafruit_nRF52_Bootloader
	url = https://github.com/yumagulovrn/Adafruit_nRF52_Bootloader
[submodule "submodules/le_chiff_ble"]
	path = submodules/le_chiff_ble
	url = https://github.com/MangoIV/le_chiff_ble
[submodule "submodules/jorne"]
	path = submodules/jorne
	url = https://github.com/joric/jorne
[submodule "submodules/cantor"]
	path = submodules/cantor
	url = https://github.com/diepala/cantor
