/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


#define DEFAULT 0
#define NUM     1
#define SYM     2
#define NEOSYM  3
#define NEONUM  4

&left_encoder {
    status = "okay";
};

&right_encoder {
    status = "okay";
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer { // 0
			bindings = <
//+----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
//|          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
  &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T                                                        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp MINUS
  &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G                                                        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
  &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp DEL    &mt LSHFT TAB    &mt LSHFT TAB &kp BSPC &kp N     &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
//+----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                   &mo SYM    &kp DEL    &lt NUM RET &mt LCTRL RET &mt LMETA RET &mt RALT SPC &mt RCTRL SPC &lt NUM SPC &kp BSPC &mo SYM
//                                 |          |          |          |          |          |     |          |          |          |          |          |
//                                 +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
        };
		num_layer { // 1
			bindings = <
//+----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
//|          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
  &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                                       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp LEFT_BRACKET
  &trans     &none      &kp LC(PAGE_UP) &kp PAGE_UP &none &none                                                       &none      &none      &kp UP     &none      &none      &kp PLUS
  &trans     &none      &kp LC(PAGE_DOWN) &kp PAGE_DOWN &none &none &trans     &trans           &trans     &trans     &none      &kp LEFT   &kp DOWN   &kp RIGHT  &none      &trans
//+----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                   &trans     &trans     &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                 |          |          |          |          |          |     |          |          |          |          |          |
//                                 +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		sym_layer { // 2
			bindings = <
//+----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
//|          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
  &bootloader &kp F1    &kp F2     &kp F3     &kp F4     &kp F5                                                       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
  &trans     &none      &none      &none      &none      &none                                                        &none      &none      &none      &none      &none      &kp F12
  &caps_word &none      &none      &none      &none      &none      &trans     &trans           &trans     &trans     &none      &none      &none      &none      &none      &caps_word
//+----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                   &trans     &none      &tog NUM   &trans     &trans           &trans     &trans     &tog NUM   &trans     &trans
//                                 |          |          |          |          |          |     |          |          |          |          |          |
//                                 +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		neo_sym_layer { // 3
			bindings = <
//+----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
//|          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
  &trans     &none      &kp UNDER  &kp LBKT   &kp RBKT   &kp CARET                                                    &kp EXCL   &kp LT     &kp GT     &kp EQUAL  &kp AMPS   &trans
  &trans     &kp BSLH   &kp FSLH   &kp LBRC   &kp RBRC   &kp STAR                                                     &kp QMARK  &kp LPAR   &kp RPAR   &kp MINUS  &kp COLON  &kp AT
  &trans     &kp HASH   &kp DLLR   &kp PIPE2  &kp TILDE  &kp GRAVE  &trans     &trans           &trans     &trans     &kp PLUS   &kp PRCNT  &kp DQT    &kp SQT    &kp SEMI   &trans
//+----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                   &trans     &trans     &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                 |          |          |          |          |          |     |          |          |          |          |          |
//                                 +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		neo_num_layer { // 4
			bindings = <
//+----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
//|          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
  &trans     &kp PAGE_UP &none     &kp UP     &none      &kp PAGE_DOWN                                                &none      &kp N7     &kp N8     &kp N9     &kp N0     &kp LEFT_BRACKET
  &trans     &none      &kp LEFT   &kp DOWN   &kp RIGHT  &none                                                        &none      &kp N4     &kp N5     &kp N6     &kp COMMA  &kp PLUS
  &trans     &none      &none      &none      &none      &none      &trans     &trans           &trans     &trans     &kp COLON  &kp N1     &kp N2     &kp N3     &kp SEMI   &trans
//+----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                   &trans     &trans     &trans     &trans     &trans           &kp N0     &trans     &kp N0     &trans     &trans
//                                 |          |          |          |          |          |     |          |          |          |          |          |
//                                 +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
	};
};
