/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUM     1
#define SYS     2
#define ADJ     3

#define PTAB LC(PG_UP)
#define NTAB LC(PG_DN)

/ {
    behaviors {
        // This is mod-tap with the "balanced" flavor.
        // Improves the '&mt RCTRL SPACE' behavior when typing quickly.
        bmt: balanced_mod_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "MOD_TAP";
			#binding-cells = <2>;
			flavor = "balanced";
			tapping-term-ms = <200>;
			bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible =  "zmk,keymap" ;

        // codes: https://zmk.dev/docs/codes/

		default_layer { // 0
			bindings = <
//+---------+---------+---------+---------+---------+---------+                                                             +---------+---------+---------+---------+---------+---------+
//|         |         |         |         |         |         |                                                             |         |         |         |         |         |         |
  &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5      /* ---------+                                 +--------- */ &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
  &none     &kp Q     &kp W     &kp E     &kp R     &kp T     &kp DEL                                         &kp BSPC      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LEFT_BRACKET
  &kp CAPS  &kp A     &kp S     &kp D     &kp F     &kp G     &kp TAB         /* ---------+     +--------- */ &kp TAB       &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
  &kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp LCTRL     &mt LSHFT SPC       &mt RSHFT RET &kp RCTRL     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHIFT
  &kp RALT  &kp PG_DN &kp PG_UP &kp LMETA &kp RET             &bmt LMETA RET &lt NUM RET        &lt NUM SPC   &bmt LMETA SPC &kp SPC            &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT
//|         |         |         |         |                   |             |             |     |             |             |                   |         |         |         |         |
//+---------+---------+---------+---------+-------------------+-------------+-------------+     +-------------+-------------+-------------------+---------+---------+---------+---------+
			>;
        };
		num_layer { // 1
			bindings = <
//+---------+---------+---------+---------+---------+---------+                                                             +---------+---------+---------+---------+---------+---------+
//|         |         |         |         |         |         |                                                             |         |         |         |         |         |         |
  &trans    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5      /* ---------+                                 +--------- */ &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
  &mo ADJ   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &trans                                          &trans        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp F12
  &trans    &none     &kp PTAB  &kp PG_UP &none     &none     &trans          /* ---------+     +--------- */ &trans        &none     &none     &kp UP    &none     &none     &trans
  &trans    &none     &kp NTAB  &kp PG_DN &kp INS   &none     &trans        &trans              &trans        &trans        &none     &kp LEFT  &kp DOWN  &kp RIGHT &none     &trans
  &trans    &trans    &trans    &trans    &trans              &trans        &mo SYS             &mo SYS       &trans        &trans              &trans    &trans    &trans    &trans
//|         |         |         |         |                   |             |             |     |             |             |                   |         |         |         |         |
//+---------+---------+---------+---------+-------------------+-------------+-------------+     +-------------+-------------+-------------------+---------+---------+---------+---------+
			>;
		};
		sys_layer { // 2
			bindings = <
//+---------+---------+---------+---------+---------+---------+                                                             +---------+---------+---------+---------+---------+---------+
//|         |         |         |         |         |         |                                                             |         |         |         |         |         |         |
  &trans &kp LC(LA(F1)) &kp LC(LA(F2)) &kp LC(LA(F3)) &kp LC(LA(F4)) &kp LC(LA(F5)) /* ---------+ +--------- */ &kp LC(LA(F6)) &kp LC(LA(F7)) &kp LC(LA(F8)) &kp LC(LA(F9)) &kp LC(LA(F10)) &kp LC(LA(F11))
  &none     &none     &none     &none     &none     &none     &none                                           &none         &none     &none     &none     &none     &none     &trans
  &trans    &none     &none     &none     &none     &none     &none           /* ---------+     +--------- */ &none         &none     &none     &none     &none     &none     &trans
  &caps_word &none    &none     &none     &none     &none     &trans        &trans              &trans        &trans        &none     &none     &none     &none     &none     &caps_word
  &trans    &trans    &trans    &trans    &trans              &trans        &trans              &trans        &trans        &trans              &trans    &trans    &trans    &trans
//|         |         |         |         |                   |             |             |     |             |             |                   |         |         |         |         |
//+---------+---------+---------+---------+-------------------+-------------+-------------+     +-------------+-------------+-------------------+---------+---------+---------+---------+
			>;
		};
		adj_layer { // 3
			bindings = <
//+---------+---------+---------+---------+---------+---------+                                                             +---------+---------+---------+---------+---------+---------+
//|         |         |         |         |         |         |                                                             |         |         |         |         |         |         |
  &bootloader &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                                              &bt BT_CLR &out OUT_TOG &trans &trans   &trans    &trans
  &none     &none     &none     &none     &none     &none     &none                                           &none         &none     &none     &none     &none     &none     &trans
  &trans    &none     &none     &none     &none     &none     &none           /* ---------+     +--------- */ &none         &none     &none     &none     &none     &none     &trans
  &caps_word &none    &none     &none     &none     &none     &trans        &trans              &trans        &trans        &none     &none     &none     &none     &none     &caps_word
  &trans    &trans    &trans    &none     &tog NUM            &trans        &trans              &trans        &trans        &tog NUM            &trans    &trans    &trans    &trans
//|         |         |         |         |                   |             |             |     |             |             |                   |         |         |         |         |
//+---------+---------+---------+---------+-------------------+-------------+-------------+     +-------------+-------------+-------------------+---------+---------+---------+---------+
			>;
		};
    };
};